body {
    height: 100%;
    margin: 0;
    width: 100%;
    overflow: hidden;
    background-image: url(./logo-header1-not-included.svg);
    background-image: url("./logo-header2-not-included.svg");
    background: url(./logo-header3-not-included.svg);
    background: url(./logo-header4-not-included.svg);
    background:  url("./logo-header5-not-included.svg");
    background:  url("./logo-header6-not-included.svg");
    background:  url("http://domain.com/logo-header7-not-included.svg");
    background:  url("http://domain.com/logo-header8-not-included.svg");
    background-image:  url("http://domain.com/logo-header9-not-included.svg");
    background-image:  url("http://domain.com/logo-header10-not-included.svg");
}

#graphiql {
    height: 100vh;
}

#graphiql .graphiql-container .topBar {
    background: none;
    height: 70px;
    box-sizing: border-box;
}

#graphiql .graphiql-container .docExplorerShow {
}

#graphiql .graphiql-container .title span {
    padding-left: 10px;
}

#graphiql .graphiql-container .title {
    color: #85cdd4;
    display: flex;
    align-items: center;
}

#graphiql .graphiql-container .title:before {
    content: "";
    width: 185px;
    height: 50px;
    vertical-align: middle;
    border-right: 1px solid white;
}

#graphiql .graphiql-container .doc-explorer-title-bar, #graphiql .graphiql-container .history-title-bar {
    background: #3CAAB5;
    height: 69px;

    display: flex;
    align-items: center;
    padding: 0;
}

#graphiql .graphiql-container .docExplorerHide {
    color: white;
    margin: 0;
}

#graphiql .graphiql-container .doc-explorer-title, #graphiql .graphiql-container .history-title {
    text-transform: uppercase;
    color: white;
}

#graphiql .graphiql-container .topBarWrap {
    background-color: #288690;
}

#graphiql .graphiql-container .history-contents, #graphiql .graphiql-container .doc-explorer-contents {
    top: 69px;
    box-sizing: border-box;
}